var data=[
{
    id:1,
    image:
    title:"Python",
    description: "Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab mollitia perspiciatis alias maiores vitae aut beatae obcaecati recusandae porro ullam fugit doloremque asperiores, assumenda quasi sed laborum pariatur repellat nesciunt!"
    link:"www.github.com"
},
{
    id:2,
    image:
    title:"JavaScript",
    description: "Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab mollitia perspiciatis alias maiores vitae aut beatae obcaecati recusandae porro ullam fugit doloremque asperiores, assumenda quasi sed laborum pariatur repellat nesciunt!"
    link:"www.github.com"
},
{
    id:3,
    image:
    title:"HTML5",
    description: "Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab mollitia perspiciatis alias maiores vitae aut beatae obcaecati recusandae porro ullam fugit doloremque asperiores, assumenda quasi sed laborum pariatur repellat nesciunt!"
    link:"www.github.com"
},
{
    id:4,
    image:
    title:"CSS",
    description: "Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab mollitia perspiciatis alias maiores vitae aut beatae obcaecati recusandae porro ullam fugit doloremque asperiores, assumenda quasi sed laborum pariatur repellat nesciunt!"
    link:"www.github.com"
},
{
    id:5,
    image:
    title:"React.js",
    description: "Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab mollitia perspiciatis alias maiores vitae aut beatae obcaecati recusandae porro ullam fugit doloremque asperiores, assumenda quasi sed laborum pariatur repellat nesciunt!"
    link:"www.github.com"
},
{
    id:6,
    image:
    title:"Node.js",
    description:"Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab mollitia perspiciatis alias maiores vitae aut beatae obcaecati recusandae porro ullam fugit doloremque asperiores, assumenda quasi sed laborum pariatur repellat nesciunt!"
    link:"www.github.com"
}

]

